.App {
  padding: 20px;
}

#header {
  height: 230px;
  background-position: 50% 72%;
  background-attachment: fixed;
  background-color: black;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

a {
  color: white;
  text-decoration-line: none;
}
